.selector-for-some-widget {
    box-sizing: content-box;
 }
.image p{
  width: 85%;
  font-size: 90%;
  font-family: cursive;
  margin-top: 10%;
  line-height: 2em;
 
}
.tow{
  background-color: peachpuff;
}
.one{
  background-color: rgb(165, 229, 165);
}
.three{
  
  background-color: rgb(248, 247, 162);
}
.four{ 
  background-color: rgb(163, 219, 241);
}

.image{
  font-size: initial;
  padding: 57px;
  margin-top:80px;
}
.image img:hover{
 opacity: 0.5;

}
.image img{
  opacity: 1;
}
 h4{
  font-family: cursive;
  font-size: 1.5rem;
  color: rgb(66, 9, 62);
}



button{
  
  border-radius: 10px 5px;
  margin: 28px 0px 39px 120px;
  font-size: 16px;
  background-color: rgb(206, 224, 45); 
  border: none;
  color: rgb(6, 59, 15);
  display:inline-block

 

}
h5{
      margin-top: 10px;
  margin-bottom: -20px;
  margin-left: 10px;
  color: rgb(6, 59, 15);
  width: 30%;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#texteto{
  width: 55%;
  margin-left: 65px;
  font-family: cursive;
  color: darkgreen;
  font-size: 20px;
  text-align: center;
}